[ad_client]
host={{ duo_adclient_host }}
service_account_username={{ duo_adclient_user }}
service_account_password={{ duo_adclient_pw }}
search_dn={{ duo_adclient_search_dn }}
{% if duo_adclient_security_group_dn is defined %}
security_group_dn={{ duo_adclient_security_group_dn }}
{% endif %}
{% if duo_adclient_transport is defined %}
transport={{ duo_adclient_transport }}
{% endif %}


{% if duo_adsync == true %}

[cloud]
ikey={{ duo_adsync_ikey }}
skey={{ duo_adsync_skey }}
api_host={{ duo_adsync_api_host }}
service_account_username={{ duo_ldapbind_user }}
service_account_password={{ duo_ldapbind_pw }}

{% endif %}


{% if duo_radius == true %}

[radius_server_auto]
ikey={{ duo_radius_ikey }}
skey={{ duo_radius_skey }}
api_host={{ duo_radius_api_host }}
failmode={{ duo_radius_failmode }}
radius_ip_1={{ duo_radius_ip }}
radius_secret_1={{ duo_radius_secret }}
client=ad_client

{% endif %}


{% if duo_ldap == true %}

[ldap_server_auto]
client=ad_client
ikey={{ duo_ldap_ikey }}
skey={{ duo_ldap_skey }}
api_host={{ duo_ldap_api_host }}
failmode={{ duo_ldap_failmode }}

{% endif %}
