*/15 * * * * root {{ phpipam_cli_binary }} {{ phpipam_installdir }}/functions/scripts/discoveryCheck.php
*/15 * * * * root {{ phpipam_cli_binary }} {{ phpipam_installdir }}/functions/scripts/pingCheck.php
